:root {
    --breakpoint-xs: 480px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1280px;
}

html {
    font-size: 62.5%;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-wrapper {
    background-image: url(./patterns/baume-final.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    max-width: 100vw;
    height: fit-content;
    margin: 0 auto;
    /* color var(--neutral-90) // default text color */
    /* font-family var(--font-family-regular) */
    /* font-size var(--font-size-base) */
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 16px;
    display: flex;
    justify-content: center;
    height: 100vh;
}
